<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{{pageTitle}}</title>
    </head>
    <body>
        <h1>We'll be right back</h1>
        <p>The site is undergoing some work. We will be back up and running soon!</p>
    </body>
</html>